<div class="ocpc_container" style="{CONTAINER_STYLE}">
	<a class="ocpc_video_link" href="{VIDEO_LINK}" target="{TARGET}" {ADDITIONAL_LINK_ATTRIBUTES}  {MODAL_LINK}>
		<div style="max-height: {MAX-HEIGHT}px; max-width: {MAX-WIDTH}px; {WIDTH}" class="ocpc_image_container">
			<img class="ocpc_thumbnail" style="max-height:{MAX-HEIGHT}px; max-width:{MAX-WIDTH}px;{WIDTH}" src="{THUMBNAIL_URL}">
			<!-- BEGIN overlay -->
			<div class="ocpc_play_overlay">
				<div class="ocpc_pseudo_element"></div> <!-- this is necessary to center the following image -->
				<img class="ocpc_play_icon" width="32px" height="32px" src="./Customizing/global/plugins/Services/COPage/PageComponent/OpencastPageComponent/templates/images/play.svg">
			</div>
			<!-- END overlay -->
		</div>
	</a>
</div>
{MODAL}
