<a class="ocpc_video_link" href="{VIDEO_LINK}" target="{TARGET}" {ADDITIONAL_LINK_ATTRIBUTES}  {MODAL_LINK}>
	<div style="height: {HEIGHT}px; width: {WIDTH}px;" class="ocpc_image_container">
		<img class="ocpc_thumbnail" height="{HEIGHT}px" width="{WIDTH}px" src="{THUMBNAIL_URL}">
		<!-- BEGIN overlay -->
		<div class="ocpc_play_overlay">
			<div class="ocpc_pseudo_element"></div> <!-- this is necessary to center the following image -->
			<img class="ocpc_play_icon" width="32px" height="32px" src="./Customizing/global/plugins/Services/COPage/PageComponent/OpencastPageComponent/templates/images/play.svg">
		</div>
		<!-- END overlay -->
	</div>
</a>
{MODAL}