iframe.ocpc_iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
	margin: 20px 20px 20px 0;
}

div.ocpc_iframe_embed {
	position: relative;
	height: 0;
	overflow: hidden;
	width: 100%;
	height: auto;
}

div.ocpc_iframe_container {
	display: inline-block;
}

a.ocpc_video_link {
	display: inline-block;
	width: fit-content;
	height: fit-content;
}

div.ocpc_container {
	width: 100%;
}

div.ocpc_image_container {
	position: relative;
	display: inline-block;
	margin: 20px 20px 20px 0;
}

.ocpc_play_overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(0,0,0,.7);
	text-align: center;
}

.ocpc_image_container:hover .ocpc_play_overlay, .ocpc_image_container:hover .ocpc_play_icon {
	opacity: 1;
}

/* this is necessary to center the "play" image */
.ocpc_pseudo_element {
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}

div.ocpc_image_container img.ocpc_play_icon {
	vertical-align: middle;
	display: inline-block;
}

/* modal */
.xoct_iframe {
	width:100%;
	height: 300px;
}

